# =========================
# KiCad
# =========================

*.lck
*-backups/
*.bak

# =========================
# Operating System
# =========================

Thumbs.db
.DS_Store

# =========================
# Temporary files
# =========================

*.tmp
*.temp

# =========================
# VS Code workspace cache
# =========================

.vscode/settings.json